Badiste - parse inscriptions.json
[{"id":"da01fb11.fcc6a","type":"tab","label":"Parse Harmo file","disabled":false,"info":""},{"id":"ae611348.f29198","type":"inject","z":"da01fb11.fcc6a","name":"","topic":"","payload":"C:\\Users\\Benoit\\Desktop\\inscriptions.xlsx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":226.36666870117188,"y":82,"wires":[["ff39f788.00247"]]},{"id":"ff39f788.00247","type":"function","z":"da01fb11.fcc6a","name":"Parse Excel","func":"var require = global.get('require');\nvar xlsx = require('node-xlsx').default;\n\n// Parse a file\nconst workSheetsFromFile = xlsx.parse('C:\\\\Users\\\\Benoit\\\\Desktop\\\\inscriptions2.xlsx');\n\nvar result = [];\nworkSheetsFromFile.map(function(sheet) {\n    // result.push(sheet);\n    \n    var notIn = [\n        'Tournoi',\n        '',\n        'a',\n        'Statut',\n        'OK',\n        'KO',\n        'SKYBAD',\n        undefined,\n        null\n    ];\n    \n   // sheet\n   sheet.data.map(function(record) {\n        // record\n        if ((record.length >= 4) && (notIn.indexOf(record[0]) == -1))\n            result.push(record);\n   });\n   \n});\n\n\nreturn {\n    payload: result\n};","outputs":1,"noerr":0,"x":490.36669921875,"y":78.5,"wires":[["fa9788ed.6b5fc8"]]},{"id":"ced364f7.c0c4a","type":"mysql","z":"da01fb11.fcc6a","mydb":"fa23eb66.30eb2","name":"Mysql","x":478.75,"y":446.75,"wires":[["d6ea2c0f.9efb68","3af4571a.ea4018"]]},{"id":"7c69a95c.95342","type":"function","z":"da01fb11.fcc6a","name":"Get license number","func":"var name = msg.payload[4].replace(\"'\", \"\\\\'\").trim();\n// node.warn(name);\n// node.warn(msg.payload);\n\nif (msg.payload[8] == undefined)\n    msg.payload[8] = 0;\n\nif (msg.payload[9] == undefined)\n    msg.payload[9] = 0;\n    \n// node.warn(msg.payload[8]);\nglobal.set('amount', msg.payload[8]);\nglobal.set('refund', msg.payload[9]);\n\nreturn {\n    topic: 'SELECT license, name FROM players WHERE name = \\'' + name + '\\''\n};","outputs":1,"noerr":0,"x":304.36669921875,"y":446.5,"wires":[["ced364f7.c0c4a","3af4571a.ea4018"]]},{"id":"fa9788ed.6b5fc8","type":"Serial Iterator","z":"da01fb11.fcc6a","name":"","property":"payload","inputFlow":"input","saveOutput":1,"recursive":0,"storeId":0,"x":504,"y":196.5,"wires":[["7c69a95c.95342","8a74ed5c.744718"],["3af4571a.ea4018"]]},{"id":"3af4571a.ea4018","type":"debug","z":"da01fb11.fcc6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":928.36669921875,"y":191.75,"wires":[]},{"id":"8a74ed5c.744718","type":"function","z":"da01fb11.fcc6a","name":"Tournament","func":"// node.warn(msg.payload[0]);\nvar tournamentDate = new Date('1900-01-01');\n// node.warn(tournamentDate);\ntournamentDate.setDate(tournamentDate.getDate() + msg.payload[1] - 2);\n// node.warn(tournamentDate);\nreturn {\n    'topic': 'tournament',\n    'payload': {\n        'name': msg.payload[0],\n        'insert': 'INSERT IGNORE INTO tournament VALUES (\\'' + msg.payload[0].replace(\"'\", \"\\\\'\").trim() + '\\', \\'' + tournamentDate.toISOString() + '\\')'\n    }\n};","outputs":1,"noerr":0,"x":285.3666687011719,"y":500.5,"wires":[["895aee5f.dd901"]]},{"id":"d6ea2c0f.9efb68","type":"function","z":"da01fb11.fcc6a","name":"","func":"console.log(msg.payload[0]);\nreturn {\n    'topic' : 'player',\n    'payload': {\n        'license': msg.payload[0].license,\n        'name': msg.payload[0].name\n    }\n};","outputs":1,"noerr":0,"x":632.36669921875,"y":446.5,"wires":[["895aee5f.dd901"]]},{"id":"895aee5f.dd901","type":"join","z":"da01fb11.fcc6a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":498.5,"wires":[["ad8c711f.82dcd8","3af4571a.ea4018"]]},{"id":"bae78ae1.b5ecf","type":"mysql","z":"da01fb11.fcc6a","mydb":"fa23eb66.30eb2","name":"","x":634,"y":615,"wires":[[]]},{"id":"bdf9f559.d9b768","type":"function","z":"da01fb11.fcc6a","name":"","func":"\nreturn {\n    'topic': msg.payload.insert\n};","outputs":1,"noerr":0,"x":442.36669921875,"y":577.5,"wires":[["bae78ae1.b5ecf","d4260df.0da577"]]},{"id":"ad8c711f.82dcd8","type":"function","z":"da01fb11.fcc6a","name":"","func":"// node.warn(msg);\nvar amount = global.get('amount');\nvar refund = global.get('refund');\nif (!Number.isInteger(amount))\n    amount = 0;\nif (!Number.isInteger(refund))\n    refund = 0;\n\nvar sql = 'INSERT IGNORE INTO participate (player_id, tournament_label, amount, refund) VALUES (' + msg.payload.player.license + ', \\'' + msg.payload.tournament.name.replace(/'/g, \"\\\\'\").trim() + '\\', ' + amount  + ', ' + refund + ')';\nglobal.set('sql', sql);\n\nreturn {\n    'topic': sql\n};","outputs":1,"noerr":0,"x":998.36669921875,"y":498.5,"wires":[["85c999a1.dd8498"]]},{"id":"85c999a1.dd8498","type":"mysql","z":"da01fb11.fcc6a","mydb":"fa23eb66.30eb2","name":"","x":708,"y":345,"wires":[["fa9788ed.6b5fc8","87de6c17.1b97d8"]]},{"id":"87de6c17.1b97d8","type":"function","z":"da01fb11.fcc6a","name":"if not inserted","func":"if (msg.payload.affectedRows == 0) {\n    node.warn(global.get('sql'));\n}\nreturn msg;","outputs":1,"noerr":0,"x":990.36669921875,"y":344.75,"wires":[[]]},{"id":"d4260df.0da577","type":"debug","z":"da01fb11.fcc6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":622.36669921875,"y":677.75,"wires":[]},{"id":"fa23eb66.30eb2","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"badiste","tz":""}]