Badiste - display inscriptions.json
[{"id":"756baa14.00bb74","type":"tab","label":"Extract data","disabled":false,"info":""},{"id":"7aeb41b3.11fba8","type":"ui_text","z":"756baa14.00bb74","group":"249f62be.3876fe","order":1,"width":0,"height":0,"name":"","label":"Participant number to Skybad","format":"{{msg.payload[0].nb}}","layout":"row-spread","x":767.36669921875,"y":134.5,"wires":[]},{"id":"5522e068.de2f78","type":"inject","z":"756baa14.00bb74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":142.36666870117188,"y":47,"wires":[["6bd7fd7e.0601ac","bcb36a47.61a218","1fb583c4.cf7fec","aacd12ab.6dde1"]]},{"id":"6bd7fd7e.0601ac","type":"function","z":"756baa14.00bb74","name":"Participant number to Skybad","func":"\nreturn {\n    'topic': 'SELECT count(DISTINCT player_id) as nb FROM participate WHERE participate.tournament_label = \\'SKYBAD\\' AND amount > 0'\n};","outputs":1,"noerr":0,"x":280.3666687011719,"y":140.5,"wires":[["a6b50cc0.3fe32"]]},{"id":"a6b50cc0.3fe32","type":"mysql","z":"756baa14.00bb74","mydb":"fa23eb66.30eb2","name":"","x":521.36669921875,"y":142,"wires":[["7aeb41b3.11fba8"]]},{"id":"9586fc02.e62a68","type":"ui_text","z":"756baa14.00bb74","group":"249f62be.3876fe","order":2,"width":0,"height":0,"name":"","label":"Inscription tournament number","format":"{{msg.payload[0].nb}}","layout":"row-spread","x":777,"y":222.75,"wires":[]},{"id":"bcb36a47.61a218","type":"function","z":"756baa14.00bb74","name":"Inscription tournament number","func":"\nreturn {\n    'topic': 'SELECT count(DISTINCT tournament_label) as nb FROM participate WHERE amount-refund > 0'\n};","outputs":1,"noerr":0,"x":285,"y":223.75,"wires":[["1ab59b5b.3f0cb5"]]},{"id":"1ab59b5b.3f0cb5","type":"mysql","z":"756baa14.00bb74","mydb":"fa23eb66.30eb2","name":"","x":526.0000305175781,"y":225.25,"wires":[["9586fc02.e62a68"]]},{"id":"2271fe99.1a7fd2","type":"ui_text","z":"756baa14.00bb74","group":"249f62be.3876fe","order":3,"width":0,"height":0,"name":"","label":"Inscription player number","format":"{{msg.payload.length}}","layout":"row-spread","x":773,"y":303.75,"wires":[]},{"id":"1fb583c4.cf7fec","type":"function","z":"756baa14.00bb74","name":"Inscription player number","func":"\nreturn {\n    'topic': 'SELECT player_id, sum(amount-refund) total FROM participate GROUP BY player_id HAVING total > 0'\n};","outputs":1,"noerr":0,"x":281,"y":304.75,"wires":[["bb7d2273.dbb87"]]},{"id":"bb7d2273.dbb87","type":"mysql","z":"756baa14.00bb74","mydb":"fa23eb66.30eb2","name":"","x":532.0000305175781,"y":306.25,"wires":[["2271fe99.1a7fd2"]]},{"id":"aacd12ab.6dde1","type":"function","z":"756baa14.00bb74","name":"Details","func":"\nreturn {\n    'topic': `SELECT pl.license, pl.name, t.label, SUM(pa.amount-pa.refund) as total FROM participate pa\nINNER JOIN players pl ON pl.license = pa.player_id\nINNER JOIN tournament t ON t.label = pa.tournament_label\nGROUP BY pl.license, t.label\nHAVING total > 0\nORDER BY pl.license, t.DATE ASC`\n};","outputs":1,"noerr":0,"x":230,"y":396.75,"wires":[["f1190403.3a8358"]]},{"id":"f1190403.3a8358","type":"mysql","z":"756baa14.00bb74","mydb":"fa23eb66.30eb2","name":"","x":538.0000305175781,"y":401.25,"wires":[["597e1300.bb5934"]]},{"id":"c570a330.f5f19","type":"ui_template","z":"756baa14.00bb74","group":"249f62be.3876fe","name":"Details","order":4,"width":"16","height":"16","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":947.36669921875,"y":405.5,"wires":[[]]},{"id":"597e1300.bb5934","type":"function","z":"756baa14.00bb74","name":"Detail","func":"// format data per players\nvar result = {\n    'players': {},\n    'global': {\n        'total': 0,\n        'player': 0,\n        'club': 0\n    }\n};\n\nmsg.payload.map(function (record) {\n    \n    if (result.players[record.license] === undefined) {\n        result.players[record.license] = {\n            'license': record.license,\n            'name': record.name,\n            'tournaments': [],\n            'club': 0,\n            'player': 0,\n            'total': 0\n        }\n    }\n    \n    var isClub;\n    if (result.players[record.license].tournaments.length < 6) {\n        // club\n        result.players[record.license].club += record.total;\n        isClub = true;\n        result.global.club += record.total;\n    } else {\n        // player\n        result.players[record.license].player += record.total;\n        isClub = false;\n        result.global.player += record.total;\n    }\n    result.players[record.license].total += record.total;\n    result.global.total += record.total;\n    \n    result.players[record.license].tournaments.push({\n        'tournament': record.label,\n        'amount': record.total,\n        'isClub': isClub\n    });\n});\n\nresult.players = Object.values(result.players);\nresult.players.sort(function(a, b) {\n    if (a.total <= b.total) return 1;\n    if (a.total > b.total) return -1;\n})\nnode.warn(result);\n\n// format in HTML\nvar html = '';\nresult.players.map(function(player) {\n    \n    var club = 0;\n    var total = 0;\n    var totalClub = 0;\n    var totalPlayer = 0;\n    \n    html += '<h4>' + player.name + ' [' + player.license + ']</h4>';\n    html += '<table width=\"100%\"><thead><tr align=\"right\"><th width=\"30%\">Tournament</th><th width=\"30%\">Amount</th><th width=\"20%\">Club</th><th width=\"20%\">Player</th></tr></thead><tbody>';\n    \n    player.tournaments.map(function (item) {\n        var clubDisplay = '';\n        var playerDisplay = '';\n        if (item.isClub) {\n            clubDisplay = item.amount + ' €';\n        } else {\n            playerDisplay = item.amount + ' €';\n        }\n        total += item.amount;\n        \n        html += '<tr align=\"right\"><td>' + item.tournament + '</td><td>' + item.amount + ' €</td><td>' + clubDisplay + '</td><td>' + playerDisplay + '</td></tr>'\n    });\n    html += '<tr align=\"right\"><td></td><th>' + player.total + ' €</th><th>' + player.club + ' €</th><th>' + player.player + ' €</th></tr>'\n    \n    html += '</tbody></table><br><br>';\n    \n});\n\nhtml += '<h4>BCMB</h4>';\nhtml += '<table width=\"100%\"><thead><tr align=\"right\"><th width=\"30%\"></th><th width=\"30%\">Amount</th><th width=\"20%\">Club</th><th width=\"20%\">Player</th></tr></thead><tbody>';\nhtml += '<tr align=\"right\"><td></td><th></th><th>' + result['global'].club + ' €</th><th>' + result['global'].player + ' €</th></tr>'\nhtml += '</tbody></table><br><br>';\n\nreturn {\n    'payload': html\n};","outputs":1,"noerr":0,"x":734.36669921875,"y":403.5,"wires":[["c570a330.f5f19"]]},{"id":"249f62be.3876fe","type":"ui_group","z":"","name":"Global","tab":"4ee115e6.368aac","order":1,"disp":true,"width":"16","collapse":false},{"id":"fa23eb66.30eb2","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"badiste","tz":""},{"id":"4ee115e6.368aac","type":"ui_tab","z":"","name":"Stats","icon":"dashboard","order":1,"disabled":false,"hidden":false}]